:root {
  --account-center-z-index: 1000;

  --color-green: rgb(4, 109, 4);
  --color-bg-green: rgba(148, 249, 189, 0.3);
  --color-bg-green-hover: rgba(148, 249, 189, 0.4);
  --color-light-green: #2aa876;
  --color-red: rgb(161, 6, 6);
  --color-light-red: #ff4d6d;
  --color-bg-red: rgba(255, 77, 109, 0.3);
  --color-bg-red-hover: rgba(255, 77, 109, 0.4);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  padding: 0 0.6rem;
  border: 2px solid rgba(255, 255, 255, 0.7);
}

input:not(.error):hover {
  border: 2px solid white;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  background: transparent;
  color: white;
  border: 0.125rem solid lightgray;
  border-radius: 0.4rem;
  padding: 0.4rem;
  font-size: 1rem;
}

select option {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 2.4rem 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
