:root {
  --account-center-z-index: 1000;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
